{% extends "layout.html" %}
{% block content %}
<h3>Hello</h3>
<form action="/info" method="POST" class="shift-form">
    <p>
    年：<input type="text" name="year" id="year">
    </p>
    <p>
    月：<input type="text" name="month" id="month">
    </p>
    <p>
    人数：<input type="text" name="members" id="members">
    </p>
    <p>
    休日数：<input type="text" name="holiday" id="holiday">
    </p>
    <p>
    最低人数：<input type="text" name="at_least" id="at_least">
    </p>
    <p>
    休日の最低人数：<input type="text" name="at_holiday" id="at_holiday">
    </p>
    <p>
    最大連勤数：<input type="text" name="continuous" id="continuous">
    </p>
    <p>
      <input type="submit" value="シフト作成" id="submit_btn">
    </p>
    <p>
      <input type="reset" value="リセット">
    </p>
</form>    
{% endblock %}

